@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Outras partes feitas por Alvaro Pereira link do  projeto no  <a href="https://github.com/Alvaro-net/primeiroMVC">GitHub</a></p>
</div>
